<div id="login">
    <h3 class="text-center text-white pt-5">Formulario de ingreso</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="loginForm" class="form"  [formGroup]="frmLogin" >
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <!-- [ngClass]="{ error:  frmLogin.nomUsuario.errors?.required  && frmLogin.nomUsuario.dirty }" -->
                            <label for="nomUsuario" class="text-info">Nombre Usuario:</label><br>
                            <input type="text" name="nomUsuario" id="nomUsuario" class="form-control" formControlName="nomUsuario">
                            <span *ngIf="frmLogin.get('nomUsuario').hasError(required) && (frmLogin.get('nomUsuario').dirty || frmLogin.get('nomUsuario').touched)">Ingrese un nombre de usuario</span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Contraseña:</label><br>
                            <!-- [ngClass]="{ error:  frmLogin.password.errors?.required && frmLogin.password.dirty}" -->
                            <input type="text" name="password" id="password" class="form-control" formControlName="password"  >
                            <span *ngIf="frmLogin.get('password').hasError(required) && (frmLogin.get('password').dirty || frmLogin.get('nomUsuario').touched)" >Ingrese su contraseña</span>
                        </div>
                        <div class="form-group">
                            <input type="button" name="submit" class="btn btn-info btn-md mt-2" [disabled]="frmLogin.invalid" value="Ingresar" (click)="ingresar()" >
                        </div>
                        <div id="register-link"  class="text-right mt-2">
                            <a [routerLink]="['/registro']" routerLinkActive="router-link-active"  class="text-info">Registrese aquí</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>